{{- /*
  For a given taxonomy, renders a list of  assigned to the page.
  
  @context {page} page The current page.
  @context {string} taxonomy The taxonomy.
  
  @example: {{ partial ".html" (dict "taxonomy" "tags" "page" .) }}
  */}}
  
  {{- $page := .page }}
  {{- $taxonomy := .taxonomy }}
  
  {{- with $page.Get $taxonomy }}
    {{- $label := (index . 0).Parent.LinkTitle }}
    {{- /*
    <div>
      <div>{{ $label }}:</div>
      <ul>
        {{- range . }}
          <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
        {{- end }}
      </ul>
    </div>
    */ -}}
  {{- end }}
